.container{
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 2200px;
}

html{
    overflow: hidden;
}

.container *{
    transform-style: preserve-3d;
}

.container .page{
    display: flex;
    position: absolute;
    top: -300px;
    left: -450px;
    width: 900px;
    height: 600px;
    background: red;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out all;
}


.page-1{
    transform: rotateY(0deg) translateZ(1100px) ;
}

.page-2{
    transform: rotateY(45deg) translateZ(1100px);
}

.page-3{
    transform: rotateY(90deg) translateZ(1100px);
}

.page-4{
    transform: rotateY(135deg) translateZ(1100px);
}

.page-5{
    transform: rotateY(180deg) translateZ(1100px);
}

.page-6{
    transform: rotateY(225deg) translateZ(1100px);
}

.page-7{
    transform: rotateY(270deg) translateZ(1100px);
}

.page-8{
    transform: rotateY(315deg) translateZ(1100px);
}


.pivot{
    transform-origin: 0 0 -800px;
    transform: rotateY(0deg) translateZ(-800px);
    transition: 0.5s ease-in-out all;
}

/* .background{
    width: 1000vw;
    height: 1000vh;
    background: grey;
    transform: translateZ(-5000px);
} */
h2{
    font-family: 'Commissioner', sans-serif;
}
/**** SLIDES SECTION**/
/*Page 1,2*/
h2.mainTitle{
    margin-bottom: 250px;
}