.container{
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 2200px;
}

html{
    overflow: hidden;
}

.container *{
    transform-style: preserve-3d;
}

.container .page{
    display: flex;
    position: absolute;
    top: -50vh;
    left: -50vw;
    width: 100vw;
    height: 100vh;
    background: red;
    color: #ffffff;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out all;
}


.page-1{
    transform: rotateY(0deg) translateZ(2400px) ;
}

.page-2{
    transform: rotateY(45deg) translateZ(2400px);
}

.page-3{
    transform: rotateY(90deg) translateZ(2400px);
}

.page-4{
    transform: rotateY(135deg) translateZ(2400px);
}

.page-5{
    transform: rotateY(180deg) translateZ(2400px);
}

.page-6{
    transform: rotateY(225deg) translateZ(2400px);
}

.page-7{
    transform: rotateY(270deg) translateZ(2400px);
}

.page-8{
    transform: rotateY(315deg) translateZ(2400px);
}


.pivot{
    transform-origin: 0 0 -3600px;
    transform: rotateY(0deg) translateZ(-3600px);
    transition: 0.5s ease-in-out all;
}

/* .background{
    position: absolute;
    z-index: -1;
    width: 1000vw;
    height: 1000vh;
    background: grey;
    transform: translateZ(-5000px);
} */

