body{
    margin:0;
    background-color:#21252B;
}
.pageContent{
    display: none;
    color: #c4c4c4;
}
.loader{
    display:block;
    font-family: 'commissioner', sans-serif;
    width:960px;
    margin:0 auto;
    text-align: center;
    color:#FF5607;
}
.loaderText{
    margin-top:350px;
}
.mainContainer{
    width:960px;
    margin:0 auto;
    text-align: center;
}
.welcome{
    padding-top:150px;
    font-family: 'commissioner',sans-serif;
    letter-spacing: 2px;
}
.instructionContainer{
    display:flex;
    margin-top:100px;
}
.rightContainer, .leftContainer{
    width:450px;
    margin:0 auto;
    text-align: center;
}
p{
    font-family: 'Open Sans', sans-serif;
}
.presLink{
    width: 960px;
    margin:0 auto;
    text-align: center;
}
a.slidesLink{
    font-family:'Open Sans', sans-serif;
    text-decoration: none;
    color:#FF0756;
    /* color:#FF0756; */
}
a:visited{
    color: #FF0756;;
}